{:paths   ["src/main"]

 :deps    {io.pedestal/pedestal.service  {:mvn/version "0.5.9"}
           io.pedestal/pedestal.route    {:mvn/version "0.5.9"}
           io.pedestal/pedestal.immutant {:mvn/version "0.5.9"}
           environ/environ               {:mvn/version "1.2.0"}
           org.clojure/tools.namespace   {:mvn/version "1.0.0"}
           org.clojure/tools.logging     {:mvn/version "0.3.1"}
           org.slf4j/slf4j-simple        {:mvn/version "1.7.28"}
           com.layerware/hugsql          {:mvn/version "0.4.9"}
           org.postgresql/postgresql     {:mvn/version "42.2.6"}}

 :aliases {:dev {:extra-paths ["src/dev"]
                 :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                               "-Ddev"
                               "-Xmx1g"
                               "-Dclojure.core.async.pool-size=50"]}}}